<<<<<<< HEAD
*{
    margin: 0px;
    padding: 0px;
}
#login-area{
    margin-top: 200px;
    margin-left: 400px;
    margin-right: 400px;
    /*padding: 100px;*/
}
.bank-title{
    text-align: center;
}
.submit-area{
    padding: 35px;
    border: 0.1px solid rgb(173, 171, 171);
    border-radius: 10px;
    box-shadow: 8px 7px 7px rgb(173, 171, 171);
}
.login-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.user-id, .user-pass{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%
}
.submit-btn{
    margin-bottom: 10px;
=======
.bank-title{
    text-align: center;
>>>>>>> 1d31c0f26e5988f06ad898d8b58e7d11bb01f3be
}